mixin carousel(urlList)
    .carousel-pl
        .carousel-pl__inner    
            button.carousel-pl__control-button.prev
                img.carousel-pl__control-icon(src="./assets/img/icon-left.png")
            each url, index in urlList
                if index == 0
                    .carousel-pl__item.carousel-pl__active
                        img(src=url alt=`${index+1} slide`)
                else
                    .carousel-pl__item
                        img(src=url alt=`${index+1} slide`)
            button.carousel-pl__control-button.next
                img.carousel-pl__control-icon(src="./assets/img/icon-right.png")
        
