mixin navbar
    nav.main-nav
        ul.main-nav__menu
            li.main-nav__menu-item 
                a(href="index.html").main-nav__menu-item-link Главная 
            li.main-nav__menu-item             
                a(href="feedback.html").main-nav__menu-item-link Обратная связь 
            li.main-nav__menu-item 
                a(href="records.html").main-nav__menu-item-link Список записей 
