include ../mixins/header/_header
include ../mixins/footer/_footer
include ../mixins/items/_record
include ../mixins/items/_item
include ../mixins/navbar/_navbar
include ../mixins/carousel/_carousel